@section Scripts
{
    <script src="~/js/add-user.js"></script>
}

<div>
    <input type="text" placeholder="Enter name" id="user-name"/>
    <input type="date" id="creation-date"/>
    <input type="button" value="Add user" id="user-add"/>
</div>