<form asp-action="SignUp" method="post">
    <input type="text" name="name" placeholder="Name..."/>
    <input type="datetime-local" name="birthday" />
    <input type="email" name="email" placeholder="Email..."/>
    <input type="password" name="password" placeholder="Password..."/>
    <input type="text" name="role" placeholder="Role..." />
    <input type="submit" value="Sign up" />
</form>