<form method="post">
    <input type="text" name="email" placeholder="Email..." />
    <input type="text" name="rolename" placeholder="Rolename..." />
    <input type="submit" value="Add Role"/>
</form>