@section Scripts
{
    <script src="~/js/home-add.js"></script>
}

<div class="container">
    <input type="text" placeholder="Model..." id="car-model" />
    <input type="text" placeholder="Price..." id="car-price" />
    <input type="text" placeholder="Speed..." id="car-speed" />
    <input type="button" id="car-add" value="Add car"/>
</div>