@section Scripts
{
    <script src="~/js/home-updatecar.js"></script>
}

<div class="container">
    <input type="text" placeholder="Id..." id="car-id" />
    <input type="text" placeholder="Model..." id="car-model" />
    <input type="text" placeholder="Price..." id="car-price" />
    <input type="text" placeholder="Speed..." id="car-speed" />
    <input type="button" id="car-update" value="Update car" />
</div>