<div class="d-flex justify-content-center">
    <div>
        @Html.ActionLink("Add product", "Add", "Product")
    </div>
    <div>
        @Html.ActionLink("Remove product", "Remove", "Product")
    </div>
</div>