@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>Current counter: @ViewData["CurrentCounter"]</div>
    <div>Current guid: @ViewData["CurrentGuid"]</div>
</div>
